.video-controls {
  width: 280px;
  height: 111px;
  margin: 0 auto;
}

.video-controls__scale-toggle {
  width: 100%;
  height: 45px;
  background-color: yellow;
}

.video-controls__bottom-panel {
  width: 100%;
  height: 60px;
  background-color: grey;
}

.video-controls__scale {
  width: 235px;
  height: 3px;
  background-color: green;
}
