body {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: @almost-black;
  background-color: @white;
  min-width: @mobile-width;
  margin: 0;
  padding: 0;
}
/*
@media (min-width: @tablet-width) {
  body {
    background-color: green;
  }
}

@media (min-width: @desktop-width) {
  body {
    background-color: yellow;
  }
} */

img {
  max-width: 100%;
  height: auto;
}
