.no-uppercase() {
  text-transform: none;
}

.align-left() {
  text-align: left;
}

.base-title-style() {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.blue-background() {
  background-color: @base-blue;
}

.no-a-style() {
  text-decoration: none;
  color: inherit;
}
